* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d2d4f;
}

.outer-box {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 8px;
}

.inner-box {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s; /* css의 값이 변경될 때 천천히 바뀌게 함 */
    background-color: #ffffff;

    border-radius: 26px; /* 모서리 둥글게 */
}

.inner-box:hover {
    background-color: #ffff00;
    border-radius: 300px; /* 아쉽게도 모든 속성에 transition이 적용되지는 않아요. */
    width: 200px;
    height: 400px;
}
